

    <div class="teszt">   
      <div class="search">
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Serial Number" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button"  class="btn btn-primary btn-sm">Add complaint</button>
      </div>
    
      <table class="table table-striped table-hover" id="complaint-table">
          <thead>
              <td>
                  Incoming date
              </td>
              <td>
                  Serial Number
              </td>
              <td>
                  Analysis started
              </td>
              <td>
                  Analysis ended
              </td>
              <td>
                  Product group
              </td>
              <td>
                  Analyzed by
              </td>
              <td>
                  QMS number
              </td>
              <td>
                  Customer Ref. Number
              </td>
            </thead>
            <tbody *ngFor="let complaint of claims?.data?.complaints">
              <tr >
                  <td>
                      {{ complaint.arrived_at }}
                  </td>
                  <td>
                      {{ complaint.serial_number }}
                  </td>
                  <td>
                      {{ complaint.analysis_started_at }}
                  </td>
                  <td>
                    {{ complaint.analysis_ended_at }}
                  </td>
                  <td>
                    <!--  {{ complaint.productGroup }} -->
                  </td>
                  <td>
                      {{ complaint?.analyzed_by }} 
                  </td>
                  <td>
                    {{ complaint.qms_number }}
                  </td>
                  <td>
                    {{ complaint.customer_ref_number }}
                  </td>
              </tr>
            </tbody>
        </table>
  
        
    </div>

    
  

  

