<div class="teszt">   
      
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
          Add Printer
        </button>
    </div>


  
    <table class="table table-striped table-hover" id="printer-table">
        <thead>
            <td>
                Name
            </td>
            <td>
                IP address
            </td>
            <td>
                Port number
            </td>
            <td>
                Description
            </td>
            <td>
                Ping
            </td>
          </thead>
          <tbody *ngFor="let server of servers?.data?.servers">
            <tr >
                <td>
                     {{ server.name }}
                </td>
                <td>
                    {{ server.ip }}
                </td>
                <td>
                    {{ server.portNumber }}
                </td>
                <td>
                    <!--{{ server.description }} -->
                </td>
                <td>
                     Ping
                </td>
            </tr>
          </tbody>
      </table>
      
  </div>


  <!-- Add Server Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Add Printer Server</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #serverCreateForm="ngForm" (ngSubmit)="onCreateServer(serverCreateForm)">
                <div class="mb-3">
                  <label for="name" class="form-label"> Name </label>
                  <input ngModel type="text" class="form-control" name="name"  id="name"  aria-describedby="nameHelp">
                </div>
                <div class="mb-3">
                  <label for="ip" class="form-label">IP address</label>
                  <input ngModel  type="text" class="form-control" name="ip"  id="ip">
                </div>
                <div class="mb-3">
                    <label for="portNumber" class="form-label">Port number</label>
                    <input ngModel type="text" class="form-control" name="portNumber"  id="portNumber">
                  </div>

               
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save and Close</button>
        </div>
      </div>
    </div>
  </div>