
<!--div class="app-container">
  <nav class="nav-container">
    <a routerLink="/complaints"> Complaints </a>
    <a routerlink="/label-printers"> Printers </a>
  </nav>

  <div class="router-content-container">

  </div>
</div-->


<div class="container-fluid">
  <div class="row">
    <div class="col-2">

      <ul class="nav flex-column" id="complaint-navbar">
          <li class="nav-item">
            <a routerLink="/complaints" class="nav-link active" aria-current="page" >Complaints</a>
          </li>
          <li class="nav-item">
            <a routerLink="/printer-servers" class="nav-link active" aria-current="page" >Printer Servers</a>
          </li>
          <li class="nav-item">
              <a routerLink="/users" class="nav-link active" aria-current="page">Users</a>
            </li>

        </ul>
    </div>
    <div  class="col-10">
      <router-outlet ></router-outlet>
    </div>
  </div>
</div>

