.col-2{
    background-color: rgba(0,0,0,.85);
    width: 10% !important;
    height:1077px;
   
}



.col-10{
    padding-top: 60px;
    width: 80% !important;
}


.teszt {
    padding-left: 80px;
    padding-right: 80px;
   
}

.search{
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 100px;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #fd7e14 !important;
    border-color: #fd7e14 !important;
}

.nav-link{
    color: white !important;
}

a:hover{
    color: black !important;
}

.nav-item :hover{
    background-color: white !important;
    border: none !important;
    margin: none !important;
    outline: none !important;
    padding: none !important;
    
}
/*
#complaint-navbar{
    margin: none !important;
    border: none !important;
    margin: none !important;
    outline: none !important;
    padding: none !important;
    
    
    
}
*/
#complaint-table{
    margin-top: 20px !important;
}
